absl-py==0.11.0
aiofiles==0.4.0
allure-pytest==2.8.24
allure-python-commons==2.8.24
aniso8601==8.1.0
AnyQt==0.0.10
asn1crypto==0.24.0
astropy==4.0.2
astunparse==1.6.3
atomicwrites==1.3.0
attrs==19.1.0
backcall==0.1.0
baycomp==1.0.2
beautifulsoup4==4.9.3
behave==1.2.6
bleach==3.1.0
bokeh==2.2.3
Bottleneck==1.3.2
CacheControl==0.12.6
cachetools==4.1.1
certifi==2020.6.20
cffi==1.12.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.1
commonmark==0.9.1
coverage==5.3
cryptography==2.7
cx-Oracle==8.0.1
cycler==0.10.0
cytoolz==0.11.0
dask==2.30.0
ddt==1.4.1
decorator==4.4.0
defusedxml==0.6.0
dictdiffer==0.8.0
dill==0.3.2
distributed==2.30.0
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
extras==1.0.0
Faker==2.0.4
fast-histogram==0.9
fb-idb==0.0.7
fixtures==3.0.0
Flask==1.1.2
Flask-HTTPAuth==4.2.0
Flask-RESTful==0.3.8
fsspec==0.8.3
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.3.3
glue-core==0.15.6
glue-vispy-viewers==0.12.2
glueviz==0.15.2
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.33.2
grpclib==0.3.0
h11==0.9.0
h2==3.2.0
h5py==2.10.0
HeapDict==1.0.1
hpack==3.0.0
httpcore==0.12.0
httpx==0.16.1
hyperframe==5.2.0
idna==2.8
imageio==2.9.0
importlib-metadata==3.4.0
iniconfig==1.1.1
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.1
Jinja2==2.10.1
jmespath==0.10.0
joblib==0.17.0
json5==0.8.5
jsonschema==3.0.2
jupyter-client==5.3.1
jupyter-core==4.5.0
jupyterlab==1.0.2
jupyterlab-server==1.0.0
Keras-Preprocessing==1.1.2
keyring==21.4.0
keyrings.alt==4.0.0
kiwisolver==1.2.0
ldap3==2.6.1
lettuce==0.2.23
lightgbm==3.0.0
linecache2==1.0.0
llvmlite==0.34.0
locket==0.2.0
lockfile==0.12.2
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.2
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mock==4.0.3
more-itertools==7.2.0
mpl-scatter-density==0.7
msgpack==1.0.0
multidict==4.5.2
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.5
notebook==6.0.0
numba==0.51.2
numpy==1.18.1
oauthlib==3.1.0
olefile==0.46
openpyxl==3.0.5
openTSNE==0.4.3
opt-einsum==3.3.0
orange-canvas-core==0.1.15
orange-widget-base==4.7.0
Orange3==3.26.0
packaging==19.1
paho-mqtt==1.5.1
pandas==1.0.3
pandocfilters==1.4.2
parse==1.18.0
parse-type==0.5.2
parso==0.5.1
partd==1.1.0
patsy==0.5.1
pbr==5.5.1
pickleshare==0.7.5
Pillow==8.0.1
plotly==4.11.0
pluggy==0.12.0
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.9.2
psutil==5.7.2
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pydotplus==2.0.2
Pygments==2.4.2
PyJWT==1.7.1
PyMySQL==1.0.2
pynndescent==0.4.8
pyodbc==4.0.30
PyOpenGL==3.1.1a1
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyqtgraph==0.11.0
pyreadline==2.1
pyrsistent==0.14.11
PySocks==1.7.0
pytest==6.1.2
pytest-base-url==1.4.1
pytest-dependency==0.5.1
pytest-html==1.20.0
pytest-metadata==1.8.0
pytest-selenium==1.16.0
pytest-sugar==0.9.4
pytest-variables==1.7.1
python-box==5.2.0
python-dateutil==2.8.0
python-louvain==0.14
python-mimeparse==1.6.0
python-subunit==1.4.0
pytz==2019.3
PyWavelets==1.1.1
pywin32==223
pywin32-ctypes==0.2.0
pywinpty==0.5.5
PyYAML==5.1.2
pyzmq==18.1.0
qtconsole==4.7.7
QtPy==1.9.0
requests==2.22.0
requests-oauthlib==1.3.0
retrying==1.3.3
rfc3986==1.4.0
rsa==4.6
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.0
selenium==3.141.0
Send2Trash==1.5.0
serverfiles==0.3.0
six==1.12.0
sniffio==1.1.0
sortedcontainers==2.2.2
soupsieve==2.1
statsmodels==0.12.1
stevedore==3.3.0
sure==1.4.11
tblib==1.7.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
testtools==2.4.0
text-unidecode==1.2
threadpoolctl==2.1.0
tifffile==2020.10.1
toml==0.10.2
toolz==0.11.1
tornado==6.0.3
traceback2==1.4.0
traitlets==4.3.2
typing-extensions==3.7.4.3
unittest2==1.1.0
urllib3==1.24.2
vecstack==0.4.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==1.0.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
xarray==0.11.3
xlrd==1.2.0
XlsxWriter==1.3.7
xlutils==2.0.0
xlwt==1.3.0
zict==2.0.0
zipp==0.5.2
